<div [@routerTransition]>
    <h2 class="text-muted">Groups</h2>
    <hr>
    <div class="row">
        <div class="card-body table-responsive">
            <table class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Active</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let group of groups">
                        <td>{{group.GroupName}}</td>
                        <td>{{group.Active ? 'Yes' : 'No'}}</td>
                        <td>
                            <button type="button" class="btn btn-info" (click)="editGroup(group.GroupId, content)">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-right">
                <button type="submit" class="btn btn-primary" (click)="addGroup(content)">Add</button>
            </div>
        </div>
    </div>
</div>
<ng-template #content let-c="close" let-d="dismiss" let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Group Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form #groupForm="ngForm" (ngSubmit)="OnSubmit(groupForm)">
        <div class="modal-body">
            <fieldset class="form-group">
                <label for="name-input" class="form-control-label">Group Name</label>
                <input class="form-control" type="text" name="GroupName" [(ngModel)]="group.GroupName" required>
            </fieldset>
            <fieldset class="form-group">
                <label class="checkbox-inline">
                    Active&nbsp;<input type="checkbox" name="Active" [(ngModel)]="group.Active" [checked]="group.Active">
                </label>
            </fieldset>
        </div>
        <div class="modal-footer">
            <button [disabled]="!groupForm.valid" type="submit" class="btn btn-success" (click)="activeModal.dismiss('modal closed')">Save</button>
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
        </div>
    </form>
</ng-template>